# Indentation and spacing  
Language: Cpp
Standard: c++20
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 120
SortIncludes: false
IncludeBlocks: Preserve
AccessModifierOffset: -4

# Braces
InsertBraces: true
BreakConstructorInitializers: AfterColon
BinPackArguments: false

# Prevent braced lists from being formatted like function calls.
# This is required for `BraceWrapping` to apply to them.
Cpp11BracedListStyle: false

BreakBeforeBraces: Custom
BraceWrapping:    
    AfterEnum: true    
    AfterStruct: true    
    AfterClass: true    
    AfterCaseLabel: false
    AfterFunction: true    
    AfterNamespace: true    
    AfterUnion: true    
    AfterExternBlock: true  
    AfterControlStatement: Always    
    BeforeCatch: true    
    BeforeElse: true    
    BeforeLambdaBody: false  
    BeforeWhile: true    
    SplitEmptyRecord: true  
    SplitEmptyFunction: true

AllowShortFunctionsOnASingleLine: None
AllowShortBlocksOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
SeparateDefinitionBlocks: Always

NamespaceIndentation: All

ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4

DerivePointerAlignment: false
PointerAlignment: Left

AlignConsecutiveDeclarations: true
AlignConsecutiveAssignments:
   Enabled: true
   AlignCompound: true
   AlignFunctionDeclarations: true
AlignAfterOpenBracket: true

BreakStringLiterals: true

CompactNamespaces: false
FixNamespaceComments: true
ShortNamespaceLines: 0

MaxEmptyLinesToKeep: 1

SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: false  
SpaceBeforeCtorInitializerColon: true  
SpaceBeforeInheritanceColon: true  
SpaceBeforeParens: Never  
SpaceBeforeRangeBasedForLoopColon: false  
SpaceBeforeSquareBrackets: false  
SpaceInEmptyBlock: false  
SpaceInEmptyParentheses: false  
SpacesBeforeTrailingComments: 1
SpacesInAngles: Always
SpacesInParens: Custom
SpacesInParensOptions:
    ExceptDoubleParentheses: false
    InConditionalStatements: true
    InCStyleCasts: false
    InEmptyParentheses: false
    Other: true

SpacesInContainerLiterals: true
SpacesInSquareBrackets: true
BitFieldColonSpacing: Both
AlwaysBreakTemplateDeclarations: Yes

# Lambda
AllowShortLambdasOnASingleLine: Empty
LambdaBodyIndentation: Signature

# Switch / Case
IndentCaseLabels: true
AlignConsecutiveShortCaseStatements:
    Enabled: true
    AcrossEmptyLines: false
    AcrossComments: false
    AlignCaseArrows: false
    AlignCaseColons: false

#IndentGotoLabels: false
