# Indentation and spacing  
BasedOnStyle: LLVM  
Language: Cpp  
Standard: c++20
IndentWidth: 4  
TabWidth: 4  
UseTab: Never  
ColumnLimit: 120  
SortIncludes: true  
IncludeBlocks: Preserve  
AccessModifierOffset: -4  

# Braces
InsertBraces: true  
BreakBeforeBraces: Allman  
# Prevent braced lists from being formatted like function calls.
# This is required for `BraceWrapping` to apply to them.
Cpp11BracedListStyle: false
BraceWrapping:    
    AfterEnum: true    
    AfterStruct: true    
    AfterClass: true    
    AfterFunction: true    
    AfterNamespace: true    
    AfterUnion: true    
    AfterExternBlock: true  
    AfterControlStatement: Always    
    BeforeCatch: true    
    BeforeElse: true    
    BeforeLambdaBody: false  
    BeforeWhile: true    
    SplitEmptyRecord: true  
    SplitEmptyFunction: true

AllowShortFunctionsOnASingleLine: None  
AllowShortBlocksOnASingleLine: Never  
AllowShortLoopsOnASingleLine: false  
SeparateDefinitionBlocks: Always  

NamespaceIndentation: All  

#ConstructorInitializerIndentWidth: 4  
#ContinuationIndentWidth: 4  
#IndentCaseLabels: true  
#IndentGotoLabels: false  

#DerivePointerAlignment: false  
#PointerAlignment: Left  

AlignConsecutiveDeclarations: true  
AlignConsecutiveAssignments:  
   Enabled: true  

#BreakBeforeBraces: Allman  
#BreakBeforeBinaryOperators: All  
#BraceWrapping:  
#    AfterEnum: true  
#    AfterStruct: true  
#    SplitEmptyFunction: true  
#    AfterCaseLabel: true  
#    AfterClass: true  
#    AfterFunction: true  
#    AfterNamespace: true  
#    AfterUnion: true  
#    AfterExternBlock: true  
#    BeforeCatch: true  
#    BeforeElse: true  
#    BeforeLambdaBody: false  
#    BeforeWhile: true  
#    AfterControlStatement: Always  

#BreakConstructorInitializers: AfterColon  
#BreakStringLiterals: true  

#CompactNamespaces: false  

#ConstructorInitializerAllOnOneLineOrOnePerLine: false  

#FixNamespaceComments: true  

#MaxEmptyLinesToKeep: 0  

#SpaceAfterCStyleCast: false  
#SpaceAfterLogicalNot: false  
#SpaceAfterTemplateKeyword: false  
#SpaceBeforeAssignmentOperators: true  
#SpaceBeforeCpp11BracedList: false  
#SpaceBeforeCtorInitializerColon: true  
#SpaceBeforeInheritanceColon: true  
#SpaceBeforeParens: Never  
#SpaceBeforeRangeBasedForLoopColon: false  
#SpaceBeforeSquareBrackets: false  
#SpaceInEmptyBlock: false  
#SpaceInEmptyParentheses: false  
#SpacesBeforeTrailingComments: 1  
#SpacesInCStyleCastParentheses: true  
#SpacesInConditionalStatement: true  
#SpacesInContainerLiterals: true  
#SpacesInParentheses: true  
#SpacesInSquareBrackets: true  
#BitFieldColonSpacing: Both  

#AllowShortCaseLabelsOnASingleLine: true
